/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    
    font-family: 'Plus Jakarta Sans', sans-serif; 
    background: #f9fbff;
    color: #26292e;
}

/* NAVIGATION BAR */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: #D7EAf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
    
    /* Keeps the navigation items matching your cute heading style */
    font-family: 'Quicksand', sans-serif;
}

/* NAV LINKS */
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: #3f57af;
    text-decoration: none;
    font-weight: 700;
}

/* SECTION */
.section{
    min-height: 100vh;
    padding: 120px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* TITLES */
h1{
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700; 
    font-size: 50px;
    color: #2b308a;
}

/* CARDS */
.card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* DROPDOWN */
summary{
    font-family: 'Quicksand', sans-serif; 
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

details p{
    margin-top: 10px;
    line-height: 1.6;
}
   
p{
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
    font-weight: 400; 
}

.intro-section p{
    font-size: 20px;
    line-height: 2;
    max-width: 850px;
}